.circle-cursor {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 20px;
  height: 20px;
  background-color: #fff;   /* ممتلئة باللون الأبيض */
  border-radius: 50%;       /* شكل دائري */
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width .15s ease, height .15s ease, opacity .2s ease, background-color .2s ease;
  mix-blend-mode: difference; /* يظهر فوق أي خلفية */
  opacity: 1;
}
